.headerStyle{
    height: 5vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(173, 174, 204);
    color: aliceblue;

   }
.headCont{
   
  
}
span .headLink{
    font-size: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    padding: 10px;
}