
.headerStyle{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(120, 67, 67);
    color: rgb(120, 76, 76);
    /* margin: 0 auto ; */
    align-items: center
   }

.headLink{
    /* font-size: 80%; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
    text-decoration: none;
    color: rgb(214, 214, 214);
    font-size: 1.3rem;
    text-align: center;
}
.headRight{
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: flex-end
}

.headLeft{
    width: 50%;
   padding: 10px;
 }
 
.icon{
   font-size: 1.8rem;
   color: rgb(206, 185, 186);

}
.headLink:hover{
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
}