.signupForm {
    width: 30vw;
    height: 30vh;
    margin: 10vw auto ;
   text-align: center;
    background-color: rgb(255, 255, 255);
}

.signup{
    font-size: 3rem;
    padding: 0.5vh;
    color: rgb(118, 42, 42);
}
.signupInput{
    margin: 2%;
    font-size: 1rem;
    padding: 0.4vh;
    border: rgb(138, 116, 121) solid 2px;
    /* text-align: center; */
    width: 70%;
    height: 3vh;
    }
    .signupButton{
        width: 70%;
        height: 5vh;
        font-size: 1rem;
        text-align: center;
        color: rgb(255, 255, 255);
        margin: 2% auto;
        background-color: rgb(118, 42, 42);
        border: rgb(138, 116, 121) solid 1px;
        /* padding: 1vh; */
    }
    .signupButton:hover{
        cursor: pointer;
        border: rgb(118, 42, 42) solid 2px;
        background-color:rgb(114, 78, 78);
    }
    .signupLink{
        color: rgb(120, 35, 42);
       font-size: 1.4rem;
    
    }